<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro </ion-title>
    <ion-buttons  slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/logochoneR.png" alt="" style="margin-top:30px;" />
    <ion-card-header>
      <ion-card-title>Bienvenido </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Para obtener una cuenta, debes resgistrarte</p>
      <p>En el siguiente enlace  <a target="_blank" href="https://enlinea.chone.gob.ec">https://enlinea.chone.gob.ec</a>   </p>
      <p>Una vez registrado podrás acceder con las credenciales (usuario, clave) proporcionadas por el sistema. </p>
      <br>
    
      <ion-label color="tertiary" (click)="loguin()"> <ion-icon name="checkmark-outline"></ion-icon> Ya tengo una cuenta </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
